CONFIG_MBEDTLS_CERTIFICATE_BUNDLE=y
CONFIG_PB_PANEL_PROFILE="LP-001"
CONFIG_PB_DEVICE_SERIAL=""
CONFIG_PB_SNTP_SERVER="pool.ntp.org"
CONFIG_PB_PRIMARY_KEY_INDEX=6
CONFIG_PB_PRIMARY_LONG_PRESS_MS=1750
CONFIG_PB_BOOT_OVERLAY_MS=800
CONFIG_PB_OFFLINE_OVERLAY_MS=1500
CONFIG_PB_POLL_INTERVAL_SECONDS=10
CONFIG_PB_HTTP_TIMEOUT_MS=5000
CONFIG_COMPILER_OPTIMIZATION_SIZE=y
# CONFIG_COMPILER_OPTIMIZATION_DEBUG is not set
